.track {
  margin: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.description {
  width: 200px;
  margin: 0 20px;
}

.artist {
  font-size: 12px;
  color: gray;
}

.delete {
  margin-left: auto;
}
